
.inventory-filter input {
  font-size: 16px;
  margin-top: 2px;
}

.inventory-filter button {
  border-radius: 15px;
  font-size: 12pt;
}

.inventory-filter .active {
  background-color: #428bca;
  color: white;
}
