
.inventory-list {
  margin-top: 10px;
  border: 2px solid grey;
  background-color: #eee;
  color: #555;
}

.inventory-list thead {
  border-bottom: 5px solid grey;
}

.inventory-list tbody tr:hover {
  cursor: pointer;
  background-color: #eee;
  color: #555;
  font-weight: bold;
}
