.inventory .sticky-filters {
  background-color: #336699;
  padding: 20px 0px 20px 0px;
  z-index: 1;
}

.inventory .common .sticky-list-filters {
  background-color: #336699;
}

.inventory .common .list-header {
  padding-bottom: 10px;
}

.inventory .common .sorting-th:hover {
  color: #336699;
  cursor: pointer;
}

.inventory .add-img {
  width: 50px;
  height: 50px;
  opacity: 0.5;
}

.inventory .add-img:hover {
  opacity: 0.9;
  cursor: pointer;
}
