
.inventory-list table {
  border: 2px solid grey;
  background-color: #fefefe;
  color: #555;
}

.inventory-list thead {
  border-bottom: 3px solid grey;
}

.inventory-list thead th {
  padding: 5px 7px;
}

.inventory-list tbody tr:hover {
  cursor: pointer;
  background-color: #eee;
  color: #555;
}
